[package]
name = "rust_core"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
regex = "1"
serde = { version = "1", features = ["derive"] }
uuid = { version = "1", features = ["v4"] }
